*{
    margin: 0;
    padding: 0;
}
.parent{
    position: relative;
    height: 800px;
    
}
.common_style{
    width: 200px;
    height: 200px;
    border: 2px solid yellow; 
    position: absolute;
    
}
.left-top{
    background-color: bisque;
    
    
}
.right-top{
    background-color: red;
    right: 0;
    
}
.center{
    
    background-color: blue;
    top: 32%;
    margin: 0 auto;
    left: 0;
    right: 0;
    
}
.left-bottom{
    
    background-color: yellow;
    bottom: 0;
}
.right-bottom{
    
    background-color: green;
    right: 0;
    bottom: 0;
}